export(helpr)
export(load_html)
import(memoise)
import(sinartra)
import(stats)
import(stringr)
import(tools)
import(utils)
importFrom(highlight,highlight)
importFrom(highlight,renderer_html)
importFrom(parser,parser)
S3method(print,help_files_with_topic)
