  <div id="ft">
    <% if(identical(disqus,TRUE)) { -%> 
      <%= render_snippet("disqus_footer") %>
    <% } %>
    <p>Helpr - R help. Funded by <a href="http://www.revolutionanalytics.com/" ><img src="/_images/Revolution_Analytics.png" alt="Revolution_Analytics" /></a>. Style created by <a href="http://had.co.nz/">Hadley Wickham</a>. Synthesis by <a href="http://bigbear.public.iastate.edu">Barret Schloerke</a></p>
  </div>
  <% if(identical(disqus,TRUE)) { -%> 
    <%= render_snippet("disqus_end_body_script") %>
  <% } %>
