<!-- jQuery -->
  <script type="text/javascript" src="/_scripts/jquery-latest.js"></script>

<!-- Block the screen -->
  <script type="text/javascript" src="/_scripts/jquery.blockUI.js"></script>

<!-- Notify the user -->
  <script type="text/javascript" src="/_scripts/ui.achtung-min.js"></script>
  <link rel="stylesheet" type="text/css" href="/_styles/ui.achtung-min.css" />

<!-- Local interfacing betweeen html and console -->
  <script type="text/javascript" src="/_scripts/notification.js"></script>
