  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
  <link rel="stylesheet" type="text/css" 
    href="<%= router_url() %>/_styles/reset-fonts.css" />
  <link rel="stylesheet" type="text/css" 
    href="<%= router_url() %>/_styles/r-help.css" />
  <script type="text/javascript" 
    src="<%= router_url() %>/_scripts/jquery-latest.js"></script>
  <script type="text/javascript" 
    src="<%= router_url() %>/_scripts/jquery.masonry.min.js"></script>

  <script type="text/javascript">
    function check_size() {
      var right_padding = 50;

      var window_width = $(window).width();
      var narrow = window_width < 900;
      $("html").toggleClass("narrow", narrow);
      
      if(!narrow) {
        var content_width = $(".content").css("max-width").replace(new RegExp(/[a-zA-Z]/g),"");
        var new_width = window_width - content_width - right_padding;
        $(".sidebars").css("width", new_width + "px");
      }
    };
    
    $(window).resize(check_size);
    
    $(function() {
      check_size();
      
      $('.sidebars').masonry({ singleMode: true, animate:true });
    });
  </script>
