  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
  <link rel="stylesheet" type="text/css" 
    href="<%= router_url() %>/_styles/reset-fonts.css" />
  <link rel="stylesheet" type="text/css" 
    href="<%= router_url() %>/_styles/r-help.css" />
  <script type="text/javascript" 
    src="<%= router_url() %>/_scripts/jquery-latest.js"></script>
  <script type="text/javascript" 
    src="<%= router_url() %>/_scripts/jquery.masonry.min.js"></script>

  <script type="text/javascript">
    function check_size() {
      var narrow = $(window).width() < 900;
      $("html").toggleClass("narrow", narrow);
    };
    $(window).resize(check_size);
    check_size();
    $(document).ready(function() {
      $('.sidebars').masonry({ singleMode: true });
    });
  </script>
