<%# "layout from failblog.org" %>
<% if(ceiling(total_item_count/row_count) > 1){ -%>
<span class="helpr_prev_next">
  <% if(start_pos != 0){ -%>
    <%= str_c("<a href = '", router_url(), search_query_path(query, start_pos-row_count), "'>") %>&#8810; Previous</a>
  <% } %>    
    
  <% for(i in (seq_len(ceiling(total_item_count/row_count))-1)){ -%>
    <% if(i == floor(start_pos / row_count)) { -%>
      [<%= i+1 %>]
    <% }else{ %>
      <%= str_c("<a href = '", router_url(), search_query_path(query, i*row_count), "'>") %><%= i+1 %></a>
    <% } %>
  <% } %>
    
  <% if((row_count+start_pos) < total_item_count){ -%>
    <%= str_c("<a href = '", router_url(), search_query_path(query, start_pos+row_count), "'>") %>Next &#8811;</a>
  <% } %>
</span>
<% } %>
