<h2 class="tight_bottom">
  <a href=<%= str_c(router_url(), "/package/",pkg, collapse = "") %> ><%= pkg %></a>
    :: 
  <% if(is.null(query)) query_string <- "" else query_string <- str_c("?h=", query) %>
  <a href=<%= str_c(router_url(), "/package/",pkg, "/topic/", topic, query_string, collapse = "") %> ><%= topic %></a>
</h2>
<% content <- sapply(items, as.character) %>
  <%# item_category <- str_c("<strong>",str_replace_all(names(item), "_t", ""), ":</strong> ", sep="") %>    
  <%# content <- str_c("<td>",item_category, "</td><td>",as.character(item),"</td>", collapse = "</tr><tr>") %>
  
  <%# str_c("<td>",as.character(item),"</td>", collapse = "</tr><tr>") %>
<%# }) %>
<% a <<- content %>
<%= str_c("<table class='search_table'><tr><td>", str_c(content, collapse = "</td></tr><tr><td>"), "</td></tr></table>", collapse = "") %>
