<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
  <%= render_snippet("html_header") %>
  <%= render_snippet("growl") %>

  <!-- // <script type="text/javascript" src="<%= router_url() %>/_scripts/package.js"></script> -->

  <title><%= package %> <%= name %>. R help</title>
  
  <script type='text/javascript'>
    $(function() {
      set_on_click('#demo_source_code');
    });
  </script>
</head>

<body>
  <div id="watermark"><%= package %></div>

  <div id="hd">
    <a href="<%= router_url() %>/index.html">R</a> &#8594; <a href=".."><%= package %></a> &#8594; <%= name %> (demo) 
    <%= render_snippet("search_bar") %>
  </div>

  <div id="bd">
  <div class="content">
    <h1><%= name %></h1>
    <p><%= description %></p>

    <input id="hide_output" type="button" value="Show/Hide Output" onclick="hide_show_output('demo', '<%= package %>', '<%= name %>' );" />
    <div id="demo_source_code" class="demo_source_code">
      <%= src %>
    </div>
  </div>
  <div class="sidebars">
      
    <% if(dataframe_has_rows(other_demos)) { -%>    
    <div class = "sidebar">
    <h2><%= other_demos_str %></h2>
    <dl>
      <% for(i in seq_len(NROW(other_demos))) {-%>
      <dt>
        <%= str_c( "<a href='", router_url(), "/package/", package, "/demo/", other_demos[i, "Item"], "' >", other_demos[i, "Item"], "</a>") %>
      </dt>
      <dd>
        <%= other_demos[i, "Title"] %>
      </dd>
    <% } %>
    </dl>
    </div>
  <% } %>
  
  <div class = "sidebar">
    <%= render_snippet("top_functions", list(functions = src_functions, title = src_functions_str)) %>
  </div>
  
</div></div>

<%= render_snippet("footer", list(disqus = TRUE, html = html)) %>


    <input id="run_highlight" type="button" value="Execute Highlighted" onclick="run_selected_code('#demo_source_code');" style="position:absolute; display: none;" />

</body>
</html>
