<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 

  <link rel="stylesheet" type="text/css" href="/_styles/reset-fonts-grids.css" />
  <link rel="stylesheet" type="text/css" href="/_styles/r-help.css" />
  <link rel="stylesheet" type="text/css" href="/_styles/jquery.rating.css" />
  
  <%= render_snippet("growl") %>

  <script type="text/javascript" src="/_scripts/package.js"></script>

  <script type="text/javascript"> 	var disqus_identifier = <%= str_join("\"",package, "_demo_", name,"\"") %>;  </script>
  <script type="text/javascript" src="/_scripts/disqus.js"></script>
  
  <title><%= package %> <%= name %>. R help</title>
</head>

<body>
  <div id="watermark"><%= package %></div>
  <div id="doc2" class="yui-t6">
  <div id="hd">
    <a href="/index.html">R</a> &#8594; <a href=".."><%= package %></a> &#8594; <%= name %> (demo) 
  </div>

  <div id="bd">
  <div id="yui-main"><div class="yui-b">
    <h1><%= name %></h1>
    <p><%= description %></p>

    <h2>Demo Source</h2>
    <input id="run_demo" type="button" value="Execute Whole Demo" onclick="<%= str_join("execute_demo('",package, "','", name,"');") %>" />
    <input id="run_highlight" type="button" value="Execute Highlighted" onclick="run_selected_code('.demo_source_code');" />
    <input id="hide_output" type="button" value="Show/Hide Output" onclick="hide_show_output();" />
    <div class="demo_source_code" >
      <%= src %>
    </div>


  </div></div>
  <div class="yui-b"><div class = "sidebar">

    <% if(dataframe_has_rows(other_demos)) { -%>    
    <h2><%= other_demos_str %></h2>
    <dl>
      <% for(i in seq_len(NROW(other_demos))) {-%>
      <dt>
        <%= str_join( "<a href=\"/package/", package, "/demo/", other_demos[i, "Item"], "\" >", other_demos[i, "Item"], "</a>") %>
      </dt>
      <dd>
        <%= other_demos[i, "Title"] %>
      </dd>
    <% } %>
    </dl>
  <% } %>

  <%= render_snippet("top_functions", list(functions = src_functions, title = src_functions_str)) %>
    
  </div></div>
  

  </div><!-- end bd -->

  <div id="ft">
  <div id="disqus_thread"></div>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=barretschloerke">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    <p>R help.  Style created by <a href="http://had.co.nz/">Hadley Wickham</a></p>
  </div>
</div>

<script type="text/javascript">
//<![CDATA[
(function() {
	var links = document.getElementsByTagName('a');
	var query = '?';
	for(var i = 0; i < links.length; i++) {
	if(links[i].href.indexOf('#disqus_thread') >= 0) {
		query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
	}
	}
	document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/barretschloerke/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>


</body>
</html>
