<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

  <%= helpr:::render_snippet("html_header") %>

  <%= helpr:::render_snippet("growl") %>

  <%= helpr:::render_snippet("google_dynamic_feed") %>

  <script type="text/javascript" src="/_scripts/jquery.quicksearch.js"></script>

  <script type="text/javascript" src="/_scripts/old_packs.js"></script>
  
  <script type="text/javascript">

    $(document).ready(function(){
      $('#package_buttons').html("<input id=\"out_of_date_button\" type=button onClick=\"highlight_old_packages();\" value=\"Out of Date\"> <input id=\"show_all_packs_button\" type=button onClick=\"show_all_packages();\" value=\"Show All Packages\">");
      
    })

  </script>
  <title>R help</title>
</head>

<body>
  <div id="watermark">packages</div>
  <div id="doc2" class="yui-t6">

  <div id="hd">
    <table style="width:100%;">
      <tr>
        <td style="width:52em;">
          <div id="feed-control">
            <span style="color:#676767;font-size:11px;margin:10px;padding:4px;">Loading...</span>
          </div><!-- -->
        </td>
        <td>
          <%= helpr:::render_snippet("search_bar") %>
        </td>
      </tr>
    </table>
  </div>

  <div id="bd">
  <div id="yui-main"><div class="yui-b">
    <h1>Installed packages</h1>
    
    <table id="packages" class="loaded">
      <thead><tr>
        <th>Name&nbsp;</th>
        <th>Description</th>
      </tr></thead>
      <% for(i in seq_len(NROW(packages))) { -%>
      <tr id="<%= str_replace_all(packages[i,"Package"], "[.]", "_") %>" class="<%= packages[i,"status"] %>">
        <td><a href="/package/<%= packages[i,"Package"] %>"><%= packages[i,"Package"] %></a></td>
        <td><%= packages[i,"Title"] %></td>
      </tr>
      <% } %>
      <tr>
        <td colspan=2 id="package_buttons">
        </td>
      </tr>
  </table>
  </div></div>
  <div class="yui-b"><div class = "sidebar">
    
    <% if(helpr:::dataframe_has_rows(top_ten_funcs)) { -%>
      <h2><%= top_ten_funcs_str %></h2>
      <ol>
        <%= str_c("<li><a href='", top_ten_funcs[,"path"], "'>", top_ten_funcs[,"func"], "</a></li>") %>
      </ol>
    <% } %>

    <% if(helpr:::dataframe_has_rows(last_ten_funcs)) { -%>
      <h2><%= last_ten_funcs_str %></h2>
      <ol>
        <%= str_c("<li><a href='", last_ten_funcs[,"path"], "'>", last_ten_funcs[,"func"], "</a></li>") %>
      </ol>
    <% } %>
    
    <% if(helpr:::dataframe_has_rows(manuals)) { %>
      <h2>Manuals</h2>
      <ol>
        <%= str_c("<li><a href='", manuals[,"link"], "'>", manuals[,"title"], "</a></li>") %>
      </ol>
    <% } %>
        


  </div></div>
  
  </div><!-- end bd -->

  <%= helpr:::render_snippet("footer", list(disqus = FALSE, html = html)) %>
</div></body>
</html>
