<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= render_snippet("html_header") %>
  <%= render_snippet("google_dynamic_feed") %>
  <%= render_snippet("growl") %>

  <script type="text/javascript" 
     src="<%= router_url() %>/_scripts/jquery.quicksearch.js"></script>
  <script type="text/javascript" 
     src="<%= router_url() %>/_scripts/old_packs.js"></script>

  <title>R help</title>
</head>

<body>
<div id="watermark">packages</div>

<div id="hd">
  <span id="feed-control"><span>&nbsp;</span></span>
  
  <%= render_snippet("search_bar") %>
</div>
<br clear="all">
<div id="bd">
  <h1>R documentation</h1>
  <div class="content">
    
    <table id="packages" class="loaded">
      <thead><tr>
        <th>Name&nbsp;</th>
        <th>Description</th>
      </tr></thead>
      <% for(i in seq_len(NROW(packages))) { -%>
      <tr id="<%= str_replace_all(packages[i,"Package"], "[.]", "_") %>" class="<%= packages[i,"status"] %>">
        <td><a href="<%= router_url() %>/package/<%= packages[i,"Package"] %>"><%= packages[i,"Package"] %></a></td>
        <td><%= packages[i,"Title"] %></td>
      </tr>
      <% } -%>
      <tr>
        <td colspan=2 id="package_buttons">
        <input id='out_of_date_button' type=button onClick='highlight_old_packages();' value='Out of Date'> <input id='show_all_packs_button' type="button" onClick='show_all_packages();' value='Show All Packages'>
        </td>
      </tr>
  </table>
  </div>
  
  <div class="sidebars">
    <% if(i_can_has_internetz()) {-%>
    <!-- <div class="sidebar">
      <h2>R news from <a href="http://www.inside-r.org/">inside-r.org</a></h2>
      <div id="feed-control"><span>Loading...</span></div>
    </div> -->
    <% } -%>
    
    <% if(dataframe_has_rows(top_ten_funcs)) { -%>
    <div class="sidebar">
      <h2>Top functions</h2>
      <ol>
        <%= str_c("<li><a href='", router_url(), top_ten_funcs[,"path"], "'>", top_ten_funcs[,"func"], "</a></li>") %>
      </ol>
    </div>
    <% } %>

    <% if(dataframe_has_rows(last_ten_funcs)) { -%>
    <div class="sidebar">
      <h2>Recent functions</h2>
      <ol>
        <%= str_c("<li><a href='", router_url(), last_ten_funcs[,"path"], "'>", last_ten_funcs[,"func"], "</a></li>") %>
      </ol>
    </div>
    <% } %>
    
    <% if(dataframe_has_rows(manuals)) { %>
    <div class="sidebar">
      <h2>Manuals</h2>
      <ul>
        <%= str_c("<li><a href='", router_url(), manuals[,"link"], "'>", manuals[,"title"], "</a></li>") %>
      </ul>
    </div>
    <% } %>
  </div>
</div></div>


<%= render_snippet("footer", list(html = html)) %>
</body>
</html>
