<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" type="text/css" href="/_styles/reset-fonts-grids.css" />
  <link rel="stylesheet" type="text/css" href="/_styles/r-help.css" />

  <script type="text/javascript" src="/_scripts/jquery-1.3.2.min.js"></script>
  <script type="text/javascript" src="/_scripts/jquery.quicksearch.js"></script>
  <script>
  $(document).ready(function(){
    $('#packages tr').quicksearch({
      position: 'before',
      attached: '#packages',
      labelText: 'Search: ',
      fixWidths: true
      
    });
  })
  </script>

  <title>R help</title>
</head>

<body>
  <div id="watermark">Packages</div>
  <div id="doc2" class="yui-t6">
  <div id="hd">
  </div>

  <div id="bd">
  <div id="yui-main"><div class="yui-b">
    <h1>Installed packages</h1>
    
    <table id="packages">
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      <% for(pkg in packages) { -%>
      <tr>
        <td><a href="/packages/<%= pkg$Package %>"><%= pkg$Package %></a></td>
        <td><%= pkg$Title %></td>
      </tr>
      <% }%>
  </table>
  </div></div>
  <div class="yui-b"><div class = "sidebar">
    
    
  </div></div>
  
  </div><!-- end bd -->

  <div id="ft">
    <p>R help.  Style created by <a href="http://had.co.nz/">Hadley Wickham</a></p>
  </div>
</div></body>
</html>
