<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" type="text/css" href="/_styles/reset-fonts-grids.css" />
  <link rel="stylesheet" type="text/css" href="/_styles/r-help.css" />
  <link rel="stylesheet" type="text/css" href="/_styles/jquery.rating.css" />
  
  <script type="text/javascript" src="/_scripts/jquery-latest.js"></script>
  <script type="text/javascript" src="/_scripts/package.js"></script>
  <script type="text/javascript" src="/_scripts/jquery.rating.pack.js"></script>


  <title><%= package %>. R help</title>
</head>

<body>
  <div id="watermark"><%= package %></div>
  <div id="doc" class="yui-t6">
  <div id="hd">
    <a href="/index.html">R</a> &#8594; <%= package %>
  </div>

  <div id="bd">
  <div id="yui-main"><div class="yui-b">
    <h1><%= package %></h1>
    <p><%= description$description %></p>

    <% if(dataframe_has_rows(items$package)){ -%>
      <h2>Package Info</h2>
      <p><%= str_join("<a href='topics/", items$package$file, "'>", items$package$alias, "</a>", 
        collapse = ", ") %></p>
    <% } %>

    <% if(dataframe_has_rows(items$dataset)){ -%>
      <h2>Data Sets</h2>
      <p><%= str_join("<a href='topics/", items$dataset$file, "'>", items$dataset$alias, "</a>", 
        collapse = ", ") %></p>
    <% } %>

    <% if(dataframe_has_rows(items$func)){ -%>
      <h2>Functions</h2>
      <p><%= str_join("<a href='topics/", items$func$file, "'>", items$func$alias, "</a>", 
        collapse = ", ") %></p>
    <% } %>

    <% if(dataframe_has_rows(items$internal)){ -%>
      <h2>Internal</h2>
      <p><%= str_join("<a href='topics/", items$internal$file, "'>", items$internal$alias, "</a>", 
        collapse = ", ") %></p>
    <% } %>

    <% if(dataframe_has_rows(items$idk)){ -%>
      <h2>Items Not Loaded</h2>
      <p><%= str_join("<a href='topics/", items$idk$file, "'>", items$idk$alias, "</a>", 
        collapse = ", ") %></p>
    <% } %>

  </div></div>
  <div class="yui-b"><div class = "sidebar">
    
    <% if(has_length(description$author)){ -%>
      <h2><%= author_str %></h2>
      <p><%= description$author %></p>
    <% }%>
    

    <% if(has_length(description$imports)){ -%>    
      <h2>Imports</h2>
      
      <p><% imports <- sapply(description$imports, "[[", "name") %>
      <%=str_join("<a href='/packages/", imports, "/'>", imports, "</a>", collapse = ", ") %></p>
    <% }%>
      
    
    <% if(has_length(description$suggests)){ -%>    
      <h2>Suggests</h2>
      
      <p><% suggests <- sapply(description$suggests, "[[", "name") %>
      <%=str_join("<a href='/packages/", suggests, "/'>", suggests, "</a>", collapse = ", ") %></p>
    <% }%>

    <% if(has_length(demos)) { -%>    
      <h2><%= demos_str %></h2>
      <dl>
      <% for(i in seq_len( nrow(demos))) { -%>
        <dt>
          <%= str_join( "<a href=\"/packages/", package, "/demo/", demos[i, "Item"], "\" >", demos[i, "Item"], "</a>") %>
        </dt>
        <dd>
          <%= demos[i, "Title"] %>
        </dd>
      <% } %>
      </dl>
    <% } %>
      

    <% if(has_length(vigs)){ -%>    
      <h2><%= vigs_str %></h2>
      <ul><%= str_join( "<li><a href=\"/packages/", package, "/vignette/", vigs[, "item"], "\" >", vigs[, "title"], "</a></li>") %></ul>
    <% } %>


<!--      <h2>Rating</h2>
      <div id="rating">
        <script language="javascript">
          <%= str_join("get_rating('", package, "');", collapse = "") %>
        </script>
      </div> -->
      
<!--      <h2>Change Log</h2> -->
<!--      <div id="changelog">
        <%# = pkg_news(package) %>
      </div> -->

          
  </div></div>
  
  </div><!-- end bd -->

  <div id="ft">
    <p>R help.  Style created by <a href="http://had.co.nz/">Hadley Wickham</a></p>
  </div>
</div></body>
</html>
