<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= render_snippet("html_header") %>

  <%= render_snippet("rating") %>

  <%= render_snippet("disqus_header", list(name = str_join(package, "_package"))) %>

  <title><%= package %>. R help</title>
</head>

<body>
  <div id="watermark"><%= package %></div>
  <div id="doc2" class="yui-t6">
  <div id="hd">
    <a href="/index.html">R</a> &#8594; <%= package %>
    <%= render_snippet("search_bar") %>
  </div>

  <div id="bd">
  <div id="yui-main"><div class="yui-b">
    <h1><%= package %></h1>
    <p><%= description$description %></p>

    <% if(dataframe_has_rows(items$package)){ -%>
      <h2>Package Info</h2>
      <p><%= str_join("<a href='topic/", items$package$file, "'>", items$package$alias, "</a>", 
        collapse = ", ") %></p>
    <% } %>

    <% if(dataframe_has_rows(items$help_name)){ -%>
      <h2>Groups</h2>
      <p><%= str_join("<a href='topic/", items$help_name$file, "'>", items$help_name$alias, "</a>", 
        collapse = ", ") %></p>
    <% } %>

    <% if(dataframe_has_rows(items$dataset)){ -%>
      <h2>Data Sets</h2>
      <p><%= str_join("<a href='topic/", items$dataset$file, "'>", items$dataset$alias, "</a>", 
        collapse = ", ") %></p>
    <% } %>

    <% if(dataframe_has_rows(items$func)){ -%>
      <h2>Functions</h2>
      <p><%= str_join("<a href='topic/", items$func$file, "'>", items$func$alias, "</a>", 
        collapse = ", ") %></p>
    <% } %>

    <% if(dataframe_has_rows(items$internal)){ -%>
      <h2>Internal</h2>
      <p><%= str_join("<a href='topic/", items$internal$file, "'>", items$internal$alias, "</a>", 
        collapse = ", ") %></p>
    <% } %>

    <% if(dataframe_has_rows(items$idk)){ -%>
      <h2>Items Not Loaded</h2>
      <p><%= str_join("<a href='topic/", items$idk$file, "'>", items$idk$alias, "</a>", 
        collapse = ", ") %></p>
    <% } %>

  </div></div>
  <div class="yui-b"><div class = "sidebar">
    
    <% if(has_text(description$author)){ -%>
      <h2><%= author_str %></h2>
      <p><%= str_join(description$author, collapse = ", ") %></p>
    <% }%>
    

    <% if(dataframe_has_rows(demos)) { -%>    
      <h2><%= demos_str %></h2>
      <dl>
      <% for(i in seq_len( nrow(demos))) { -%>
        <dt>
          <%= str_join( "<a href=\"/package/", package, "/demo/", demos[i, "Item"], "\" >", demos[i, "Item"], "</a>") %>
        </dt>
        <dd>
          <%= demos[i, "Title"] %>
        </dd>
      <% } %>
      </dl>
    <% } %>
      

    <% if(dataframe_has_rows(vigs)){ -%>    
      <h2><%= vigs_str %></h2>
      <ul><%= str_join( "<li><a href=\"/package/", package, "/vignette/", vigs[, "item"], "\" >", vigs[, "title"], "</a></li>") %></ul>
    <% } %>

    <% if(!is.null(description$imports)){ -%>    
      <h2>Imports</h2>      
      <p><%= str_join(sapply(description$imports, function(x){str_join("<a href=\"/package/", x$name, "/\">", x$name, str_join("</a>", x$version, sep = " "))}), collapse = ", ")  %></p>
    <% }%>
    
    <% if(!is.null(description$suggests)){ -%>    
      <h2>Suggests</h2>
      
      <p><%= str_join(sapply(description$suggests, function(x){str_join("<a href=\"/package/", x$name, "/\">", x$name, str_join("</a>", x$version, sep = " "))}), collapse = ", ")  %></p>
    <% }%>

    <% if(!is.null(description$extends)){ -%>    
      <h2>Extends</h2>
      
      <p><%= str_join(sapply(description$extends, function(x){str_join("<a href=\"/package/", x$name, "/\">", x$name, str_join("</a>", x$version, sep = " "))}), collapse = ", ")  %></p>
    <% }%>

    <% if(!is.null(description$depends)){ -%>    
      <h2>Depends</h2>
      
      <p><%= str_join(sapply(description$depends, function(x){str_join("<a href=\"/package/", x$name, "/\">", x$name, str_join("</a>", x$version, sep = " "))}), collapse = ", ")  %></p>
    <% }%>

    <% if(dataframe_has_rows(description$reverse)){ -%>    
      <h2>Reverse Dependencies</h2>
      
      <p><%= str_join("<a href=\"/package/", description$reverse, "/\">", description$reverse,"</a>", collapse = ", ")  %></p>
    <% }%>
    
    
    <h2>General Info</h2>
    <table>      
      <% if(!is.null(description$version)){ -%>
        <tr><td>Version:</td><td><%= description$version %></td></tr>
      <% } %>
      <% if(!is.null(description$packaged)){ -%>
        <tr><td>Built:</td><td><%= str_split(description$packaged, " ")[[1]][1] %></td></tr>
      <% } %>
      <% if(!is.null(description$'date/publication')){ -%>
        <tr><td>Published:</td><td><%= str_split(description$'date/publication'
, " ")[[1]][1] %></td></tr>
      <% } %>
      <% if(!is.null(description$url)){ -%>
        <tr><td>URL:</td><td><%= str_join("<a href=\"",description$url,"\">",description$url,"</a>", collapse = ", ") %></td></tr>
      <% } %>
      <% if(!is.null(description$license)){ -%>
        <tr><td>License:</td><td><%= description$license %></td></tr>
      <% } %>
      <tr><td colspan=2><%= str_join("<a href=\"http://cran.r-project.org/web/packages/", package, "/index.html\" target=\"_blank\">CRAN</a>", collapse = "") %></td></tr>
      <tr><td colspan=2><%= str_join("<a href=\"http://cran.r-project.org/web/checks/check_results_", package, ".html\" target=\"_blank\">CRAN Package Check</a>", collapse = "") %></td></tr>
    </table>



<!--      <h2>Rating</h2>
      <div id="rating">
        <script language="javascript">
          <%= str_join("get_rating('", package, "');", collapse = "") %>
        </script>
      </div> -->
      
    
    <% if(dataframe_has_rows(change_log$news)) { -%>
      <%= render_snippet("changelogs", change_log) %>
    <% } %>

          
  </div></div>
  
  </div><!-- end bd -->

  <%= render_snippet("footer", list(disqus = TRUE)) %>
</div>

</body>
</html>
