<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= render_snippet("html_header") %>
  <script type="text/javascript" 
    src="<%= router_url() %>/_scripts/jquery.quicksearch.js"></script>

  <title><%= package %>. R help</title>
</head>

<body>
<div id="watermark"><%= package %></div>
<div id="hd">
  <a href="<%= router_url() %>/index.html">R</a> &#8594; <%= package %>
  <%= render_snippet("search_bar") %>
</div>

<div id="bd">
  <h1><%= package %></h1>

  <div class="content">
  <p class="description"><%= description$description %></p>

  <% if(dataframe_has_rows(items$info)){ -%>
  <h2>Package Info</h2>
  <ul class = "topics">
    <% for(topic in items$info) { -%>
    <li><code><%= str_c("<code><a href='topic/", topic$topic, "'>", topic$alias, "</a></code>", collapse = ", ") %></code> <span class="desc"><%= topic$title %></span></li>
    <% } %>
  </ul>
  <% } %>

  <% if(dataframe_has_rows(items$func)){ -%>
  <h2>Functions</h2>
  <ul class = "topics">
    <% for(topic in items$func) { -%>
    <li><%= str_c("<a href='topic/", topic$topic, "'><code>", topic$alias, "</code></a>", collapse = ", ") %> <span class="desc"><%= topic$title %></span></li>
    <% } %>
  </ul>
  <% } -%>
  
  <% if(dataframe_has_rows(items$dataset)){ -%>
  <h2>Data</h2>
  <ul class = "topics">
    <% for(topic in items$dataset) { -%>
    <li><code><%= str_c("<code><a href='topic/", topic$topic, "'>", topic$alias, "</a></code>", collapse = ", ") %></code> <span class="desc"><%= topic$title %></span></li>
    <% } %>
  </ul>
  <% } %>
  
  </div>
  <div class = "sidebars">

  <div class="sidebar">
    <h2>General Info</h2>
    <ul>
      <% if(!is.null(description$version)){ -%>
        <li>Version: <%= description$version %></li>
      <% } %>
      <% if(!is.null(description$packaged)){ -%>
        <li>Built: <%= str_split(description$packaged, " ")[[1]][1] %></li>
      <% } %>
      <% if(!is.null(description[["date/publication"]])){ -%>
        <li>Published: <%= str_split(description[["date/publication"]]
  , " ")[[1]][1] %></li>
      <% } %>
      <% if(!is.null(description$url)){ -%>
        <li><%= str_c("<a href='", router_url(), description$url,"'>",description$url,"</a>", collapse = ", ") %></li>
      <% } %>
      <% if(!is.null(description$license)){ -%>
        <li>License: <%= description$license %></li>
      <% } %>
      <li><a href='http://cran.r-project.org/web/packages/<%= package %>/index.html'>View CRAN page</a></li>
      <li><a href='http://cran.r-project.org/web/checks/check_results_<%= package %>.html'>View CRAN tests</a></li>
    </ul>
  </div>
  
  <% if(has_text(description$author)){ -%>
  <div class="sidebar">
    <h2><%= author_str %></h2>
    <p><%= str_c(description$author, collapse = ", ") %></p>
  </div>
  <% }%>

  <% if(dataframe_has_rows(demos)) { -%>    
  <div class="sidebar">
    <h2><%= demos_str %></h2>
    <dl>
    <% for(i in seq_len( nrow(demos))) { -%>
      <dt>
        <%= str_c( "<a href='", router_url(), "/package/", package, "/demo/", demos[i, "Item"], "' >", demos[i, "Item"], "</a>") %>
      </dt>
      <dd>
        <%= demos[i, "Title"] %>
      </dd>
    <% } %>
    </dl>
  </div>
  <% } %>

  <% if(dataframe_has_rows(vigs)){ -%> 
  <div class="sidebar">
     
    <h2><%= vigs_str %></h2>
    <ul><%= str_c( "<li><a href='", router_url(), "/package/", package, "/vignette/", vigs[, "item"], "' >", vigs[, "title"], "</a></li>") %></ul>
  </div>
  <% } %>

  <div class="sidebar">
    <% if(!is.null(description$imports)){ -%>  
      <h2>Imports</h2>      
      <%= add_package_link_to_string(description$imports) %>
    <% }%>
  
    <% if(!is.null(description$suggests)){ -%>    
      <h2>Suggests</h2>
      <%= add_package_link_to_string(description$suggests) %>
    <% }%>

    <% if(!is.null(description$extends)){ -%>    
      <h2>Extends</h2>
      <%= add_package_link_to_string(description$extends) %>
    <% }%>

    <% if(!is.null(description$depends)){ -%>    
      <h2>Depends</h2>
      <%= add_package_link_to_string(description$depends) %>      
    <% }%>

    <% if(dataframe_has_rows(description$reverse)){ -%>    
      <h2>Reverse Dependencies</h2>
    
      <p><%= str_c("<a href='", router_url(), "/package/", description$reverse, "/'>", description$reverse,"</a>", collapse = ", ")  %></p>
    
    <% }%>
  </div>
  

  <% if(dataframe_has_rows(change_log$news)) { -%>
  <div class="sidebar">
    <%= render_snippet("changelogs", change_log) %>
  </div>
  <% } %>
</div>

<%= render_snippet("disqus", list(name = str_c(package, "_package"))) %>

</div>

<br clear = "all" />
<%= render_snippet("footer", list(html = html)) %>
</body>
</html>
