<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= render_snippet("html_header") %>

  <%= render_snippet("disqus_header", list(name = str_c(package, "_topic_",name,"_source"))) %>

  <title><%= package %> <%= name %>. R help</title>
</head>

<body>
  <div id="watermark"><%= package %></div>
  <div id="doc2" class="yui-t6">
  <div id="hd">
    <a href="/index.html">R</a> &#8594; <a href="../../../"><%= package %></a> &#8594; <a href=<%= str_c("\"../../", topic,"\"") %> ><%= topic %></a> &#8594; <%= name %> (source) 
  </div>

  <div id="bd">
  <div id="yui-main"><div class="yui-b">
    <h1><%= name %></h1>
    <%= desc %>
    
    <h2><%= name %> Source</h2>
    <%= src %>
    <%= render_snippet("changelogs_topic_source", change_log)   %>


  </div></div>
  <div class="yui-b"><div class = "sidebar">

  <% if(dataframe_has_rows(aliases$alias)) { -%>    
    <h2><%= aliases_str %></h2>
    <ul>
    <% for(alias in aliases$alias) { -%>
      <li>
        <%= str_c("<a href=\"/package/", package, "/topic/", topic, "/source/", alias, "\">", alias, "</a>" ) %>
      </li>
    <% } %>
    </ul>
  <% } %>

  <%= render_snippet("top_functions", list(functions = src_functions, title = src_functions_str)) %>
  
  <%= render_snippet("used_in_example", list(d = topic_in_example)) %>
    
  </div></div>

  </div><!-- end bd -->

  <%= render_snippet("footer", list(disqus = TRUE, html = html)) %>
</div>
</body>
</html>

