<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= render_snippet("html_header") %>
  <title><%= package %> <%= name %>. R help</title>
</head>

<body>
  <div id="watermark"><%= name %></div>
  <div id="hd">
    <a href="<%= router_url() %>/index.html">R</a> &#8594; 
    <a href="<%= router_url() %>/package/<%= package %>"><%= package %></a> &#8594; 
    <a href="../"><%= topic %></a> &#8594; 
    <%= name %> (source) 
  </div>
  <div id="bd">
  <h1><%= name %></h1>
  <div class="content">
    <%= desc %>
    
    <h2><%= name %> Source</h2>
    <%= src %>
    
    <% if(!is.null(change_log)) {- %>
      <%= render_snippet("changelogs_topic_source", change_log)   %>
    <% } %>
  </div>
  <div class="sidebars">
    

  <% if(dataframe_has_rows(aliases$alias)) { -%>    
  <div class = "sidebar">
    <h2><%= aliases_str %></h2>
    <ul>
    <% for(alias in aliases$alias) { -%>
      <li>
        <%= str_c("<a href='", router_url(), "/package/", package, "/topic/", topic, "/source/", alias, "'>", alias, "</a>" ) %>
      </li>
    <% } %>
    </ul>
  </div>
  <% } %>

  <div class = "box">
  <%= render_snippet("function_list", 
    list(d = topic_in_example, title = "Used in examples")) %>
  </div>  
</div>

</div>

<%= render_snippet("facebook", list(url = str_c("/package/", package, "/topic/", name, "/source")) ) %>
<%= render_snippet("footer", list(disqus = TRUE, html = html)) %>
</body>
</html>

