<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= render_snippet("html_header") %>
  <%= render_snippet("growl") %>
  
  <script type="text/javascript" 
    src="<%= router_url() %>/_scripts/jquery.highlight-3.yui.js"></script>
  <script type="text/javascript">
  $(function() {
    set_on_click('#example_source_code'); 
    $('#run_highlight').hide(); 
    highlight_text('<%= highlight %>');    
  });
  </script>

  <title><%= name %> / <%= package %>. R help</title>
</head>

<body>
<div id="watermark"><%= name %></div>

<div id="hd">
  <a href="<%= router_url() %>/index.html">R</a> &#8594; 
  <a href=".."><%= package %></a> &#8594; <%= name %>
  <% if (length(aliases) > 0) { %> (aka <%= str_c(aliases, collapse = ", ") %>) <% } %>
  <% if (nchar(highlight) > 0) { -%>
    <input type="button" id="remove_highlight_button" style="position:absolute; top: 5px;" onclick="remove_highlight()" value="Remove Highlighting" />
    <script type="text/javascript">
      $(function() {
        $("#remove_highlight_button").css("right", $("#search_bar").width() + 25);
      });
    </script>
  <% } %>
  <%= render_snippet("search_bar") %>
</div>

<div id="bd">
  <h1><%= title%></h1>
  
  <div class="content">
  <p class="description"><%= desc %></p>
  
  <% if(has_text(usage)){ -%>
    <h2>Usage</h2>
    <p>Click the functions to view their source</p>
    <pre><%= usage %></pre>
  <% } %>

  <% if(dataframe_has_rows(params$args) || has_text(params$pre_text) || has_text(params$post_text)){ -%>
    <h2>Arguments</h2>
    <%= params$pre_text %>
    <table>
      <% for(param in params$args) { -%>
        <tr>
          <td><code><%= param$param %></code></td>
          <td><%= param$desc %></td>
        </tr>
      <% } -%>
    </table>
    <%= params$post_text %>
  <% } %>

  <% if(has_text(details)){ -%>
    <h2>Details</h2><%= details %>
  <% }%>

  <% if(has_text(value)){ -%>
    <h2>Value</h2><%= value %>
  <% }%>

  <% if(has_text(sections)){ -%>
    <h2>Sections</h2><%= sections %>
  <% }%>

  <% if(has_text(source)){ -%>
    <h2>Source</h2><%= source %>
  <% }%>
  
  <% if(has_text(references)){ -%>
    <h2>References</h2><%= references %>
  <% }%>

  
</div>
<div class="sidebars">
  
  <% if(has_text(seealso)){ -%>
  <div class = "sidebar">
    <h2>See also</h2>
    <%= seealso %>
  </div>
  <% }%>
  
  <% if(has_text(authors)){ -%>
  <div class = "sidebar">
    <h2><%= author_str %></h2>
    <%= authors %>
  </div>
  <% }%>
  
  <% if(dataframe_has_rows(similar)) { -%>
    <div class = "sidebar">
    <%= render_snippet("function_list", list(d = similar, title = "Similar")) %>
    </div>
  <% } %>
</div>

<br clear="all" />

<% if(dataframe_has_rows(examples)){ -%>
<div class="content" id="Example">
  <h2>Examples</h2>

  <input id="hide_output" type="button" value="Show/Hide Output" onclick="hide_show_output('example', '<%= package %>', '<%= name %>' );" />
  <input id="run_highlight" type="button" value="Execute Highlighted" onclick="run_selected_code('#example_source_code')" />
  
  <div id="example_source_code">
    <%= examples  %>
  </div>
</div>


  <% if(dataframe_has_rows(topic_in_example)) { -%>
    <div class = "sidebars">
      <div class = "sidebar">
      <%= render_snippet("function_list", list(d = topic_in_example, title = "Used in example")) %>
      </div>
    </div>
  <% } %>
<% } %>

</div>

<%= render_snippet("facebook", list(url = str_c("/package/", package, "/topic/", name)) ) %>
<%= render_snippet("footer", list(html = html)) %>
</body>
</html>
