<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
  <link rel="stylesheet" type="text/css" href="/_styles/reset-fonts-grids.css" />
  <link rel="stylesheet" type="text/css" href="/_styles/r-help.css" />

  <title><%= name %> / <%= package %>. R help</title>
</head>

<body>
  <div id="watermark"><%= name %></div>
  <div id="doc" class="yui-t4">
  <div id="hd">
    <a href="/index.html">R</a> &#8594; <a href=".."><%= package %></a> &#8594; <%= name %> 
    <% if (length(aliases) > 0) { -%>
    (aka <%= str_join(aliases, collapse = ", ") %>)<% } %>
  </div>

  <div id="bd">
  <div id="yui-main"><div class="yui-b">
    <h1><%= title%></h1>
    <%= desc %>

    <h2>Source</h2>
    <% names <- c(name, aliases) %>
    <%= str_join(str_join("<a href='/packages/",package,"/source/",names,"'>",names,"</a>" ), collapse = ", ") %>

    <h2>Usage</h2>
    <p>Click the functions to view their source</p>
    <pre><%= usage %></pre>

    <h2>Arguments</h2>
    <%= params$pre_text %>
    <table><% for(param in params$args) { -%>
    <tr>
      <td><code><%= param$param %></code></td>
      <td><%= param$desc %></td>
    </tr>
    <% } -%></table>
    <%= params$post_text %>

    <% if(has_length(details)){ -%>
      <h2>Details</h2><%= details %>
    <% }%>

    <% if(has_length(value)){ -%>
      <h2>Value</h2><%= value %>
    <% }%>

    
  </div></div>
  <div class="yui-b"><div class = "sidebar">
    <% if(has_length(seealso)){ -%>
      <h2>See also</h2>
      <%= seealso %>
    <% }%>
    
    <% if(has_length(authors)){ -%>
      <h2><%= author_str %></h2>
      <%= authors %>
    <% }%>

    
    
  </div></div>
  
  <div id="yui-main"><div class="yui-b">
      <% if(has_length(examples)){ -%>
        <h2>Examples</h2>
        <%= examples %>
      <% } %>
  </div></div>
  <div class="yui-b"><div class = "sidebar">

    <%= render_snippet("top_functions", list(functions = example_functions, title = example_functions_str)) %>


  </div></div>

  
  </div><!-- end bd -->

  <div id="ft">
    <p>R help.  Style created by <a href="http://had.co.nz/">Hadley Wickham</a></p>
  </div>
</div></body>
</html>
