/* Colour scheme: http://kuler.adobe.com/#themeID/163847 */

/* Basic layout ----------------------------------------------------------- */

body {margin: 0}

#hd {
  padding: 0.5em;
  margin: 0 0 2em 0;
  background-color: #eee;
  vertical-align: center;
}
#search {width: 15em} 
#hd form * {font-size: 0.9em;}
#ft {
  font-size: 90%; 
  background-color: #eee;
  padding: 1em; 
  margin-top: 3em;
  clear: both;
}
#ft p {margin: 0 0 0.5em 0}

#bd {
  margin-left: 1em;
}

.content, .box {
  float: left;
  margin-right: 1em;
}
.content {
  width: 100%; 
  max-width: 600px; 
  float: left; 
  clear: all;
}

/* Sidebar */
.sidebars {
  width: 200px;
  float: left;
}
.narrow .sidebars {
  width: 100%;
}

.sidebars .box {
  width: 200px;
  background-color: #eee;
  padding: 0.5em;
  border-top-right-radius: 20px;
  -moz-border-top-right-radius: 20px;
  margin-bottom: 1em;
}

.sidebars .sidebar h2 {
  font-size: 1.2em;
}
.sidebar h2:first-child, .content h2:first-child {
  margin-top: 0;
}
.sidebars ul, .sidebars ol {margin-left: 1em; padding-left: 0.5em}

.sidebars p, .sidebars li {margin: 0.25em 0 0.25em 0}
.sidebars td {padding: 0px;}

p.description {margin: 0 1em 1em 0;}

/* Basic styles ----------------------------------------------------------- */

body * {font-family: "Helvetica Neue", Helvetica, Arial, "sans serif";}
body * {margin-bottom: 0.5em; line-height: 1.5em;}
#ft a, #ft img {margin-bottom: 0}

a:link, a:visited { color: #264D66;}
a:hover {background-color: #ccc; color: #264D66;}

tr {text-align: left;}
td {vertical-align: top; padding: 4px;}
.search_table tbody tr td {vertical-align: top; padding: 0 0 0 4px;}
ul {margin-left: 2em; margin-bottom: 0.5em; }
ul li {list-style-type: disc;}

h1 {
  font-size: 3em; 
  font-weight: normal;
  line-height: 1.2em; 
  margin-bottom: 0.25em
}
h2  {
  font-size: 1.4em; 
  font-weight: bold;
  margin-top: 1em; 
  color: #264D66; 
}
h3 {font-weight: bold;}

.change_log_date, .load_html {color: rgb(177,177,177);}

em {font-style: italic;}
strong {font-weight: bold;}

pre, code {
  font-size: 0.97em;
  background-color: #eaeaea;
  white-space: pre-wrap;
}
pre, code, pre * {
  font-family: Inconsolata, monospace;
}

pre {
  margin-bottom: 0;
}

/* Topic listing */

ul.topics, ul.topics li {list-style: none; margin-left: 0; padding-left: 0}
.topics code {background-color: #ddd; padding: 2px}

/* Watermark -------------------------------------------------------------- */

#watermark {
  letter-spacing: -15px;
  position: fixed;
  left: 30px;
  top: 50px;
  font-size: 200px;
  margin-top: 0;
  line-height: 1;
  font-weight: bold;
  color: #f0f0f6;
  z-index: -5;
}

/* Syntax highlighting ---------------------------------------------------- */

.number {color:rgb(21,20,181);}
.functioncall {color:#264D66 ;}
.string {color:#375D81 ;}
.keyword {font-weight:bolder ;color:black;}
.argument {color:#264D66 ;}
.comment {color: #333;}
.formalargs {color: #264D66;}
.eqformalargs {color:#264D66;}
.packages_installed .packages_old {color:rgb(150,182,37);}
.slot {font-style:italic;}
.symbol {color:black ;}
.prompt {color:black ;}
.R_output {background-color: rgb(221,232,235) ! important;}
.R_output_image { 
  border-width: 2px ! important; border-style: solid;
  background-color: rgb(255,255,255);
  border-color: rgb(135,179,190); /* darker output blue */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.R_output, .R_output_image {
  margin-top: 0.5em ! important;
  margin-bottom: 0.5em ! important;  
}

/* Home page -------------------------------------------------------------- */

#feed-control {
  width: 30em;
  float: left;
}
#feed-control span {
  color: #676767;
}

#packages.loaded .installed, #thinking_wheel {display: none;}

.out_of_date { background-color: #FE8080;}
.updated { background-color: rgba(238,238,238,.5);} 
.old a:link, .old a:visited {color: red;}
.old { position: relative;}
.single_install_button { margin-bottom:0em  ! important; margin-right: 4px;}

#thinking_wheel{
  margin: 0;
  line-height: 16px;
  width: 16px;
  height: 16px;
}

/* Search ----------------------------------------------------------------- */

#search_bar {
  float: right;
}

.helpr_prev_next {
  text-align: right;
  font-size: 1.5em;
}
.highlight { background-color: rgb(255,255,102) }
#remove_highlight_button { float: right};
